body {
  background-color: white
}

.gallery {
  margin-top: 6rem;
}

.clipped {
  -webkit-clip-path: polygon(0 0, 100% 13%, 100% 99%, 0 879%);
  clip-path: polygon(0 0, 100% 13%, 100% 99%, 0 87%);
}
