body {
  background-color: white;
  max-height: 90%;
}

.gallery {
  overflow: hidden
}

.ReactModal__Body--open {
  overflow: hidden;
}

.title {
  text-align: center;
  margin-top: 2rem;
  font-size: 3rem;
  font-family: 'Great Vibes', cursive;
}

.column {
  padding-top: .5em;
  padding-bottom: .5em;
}

.bgwhite {
  background-color: white;
}
